body {

	font-family: Arial, sans-serif;
	font-size: 16px;
}
.LC {
	text-align: center;
	font-style: oblique;
	color: black;
}
.text1 {
	text-align: center;
	color: black;
	font-style: inherit;

}
.nums {
	font-style:italic;
	color: brown;
}
.and{
	color: cadetblue;
	font-style: italic;
}
